.bay-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px 1px #a3a3a3;
  padding: 0.5em;
  border-radius: 1em;
}

.bay-text-container {
  background: var(--orange-gradient);
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8em;
}

.text-buy {
  font-size: 1em;
}

.buy-product-name {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  justify-content: center;
}

.buy-money {
  display: flex;
  align-items: center;
}
